<style>
    .well {
        border-radius: 5px;
        border: 10px;
        border-color: black;
    }
</style>
<h1 style="text-align:center">Home</h1>
<a class="btn btn-primary" href="/record">Add BP Reading</a>
<div>
    {{#each reading}}
        <div class="col text-center card">
            <p>Date: {{formatDate date}}</p>
            <p>Time: {{time}}</p>
            <p>Systolic: {{systolic}}
            <p>Diastolic: {{diastolic}}</p>
            <p>Pulse Rate: {{pulse_rate}}</p>
        </div>
    {{/each}}
</div>